body,
html {
  height: 100%;
  background-size: cover;
  background-image: url(assets/image/pipa\ gas\ rusia.jpeg);
  background-repeat: no-repeat;
}

#container {
    padding-left: 0px;
    padding-right: 0px;
}

#navpil {
    padding-left: 40px;
}

#menu {
   color: aqua;
   padding-right: 50px;
    
}

#nordstream2 {
  background-color: red;
  margin-right: 600px;
  margin-left: 600px;
  margin-bottom: 0px
  ;
}

#setup {
 margin-right: 100px;
}
